@{
    ViewBag.Title = "Мои рассылки";
    int i = 0;
    string str = "";
    IList<paymentModels.delivery_access> deliveryAccess = ViewBag.deliveryAccess;
}
@model List<entityModels.delivery>

@section PageLevelStyles{
    <style>
        a:hover {
            color: red !important;
            text-decoration: none;
        }

        .paymentDiv{
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-left: none;
            border-right: none;
            border-top-style: dashed;
            border-bottom-style: dashed;
        }

        .mt-element-ribbon {
            margin-bottom: 0 !important;
        }
    </style>
}

<div class="page-content-inner">
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users font-green"></i>
                <span class="caption-subject font-green bold uppercase">@ViewBag.Title</span>
            </div>
        </div>
        <div class="portlet-body">
            @if (Model.Count > 0)
            {
                foreach (var groupingItem in Model.OrderBy(x => x.category_name).GroupBy(x => x.category_name))
                {
                    if (deliveryAccess.Where(x => x.category_name == groupingItem.Key).Count() > 0 && deliveryAccess.First(x => x.category_name == groupingItem.Key).status == (int)constant.status_payment.pay)
                    {
                        <div class="row">
                            <div class="col-md-6"><h4><strong>Категория: @groupingItem.Key</strong></h4></div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <div class="mt-element-ribbon">
                                            <div style="width: 300px; text-align:center" class="ribbon ribbon-vertical-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
                                                Оплачена до @deliveryAccess.First(x => x.category_name == groupingItem.Key).time_end.ToShortDateString()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-6"><h4><strong>Категория: @groupingItem.Key</strong></h4></div>
                            <div class="col-md-6">
                                @if (groupingItem.Where(x => x.status == (int)constant.status_delivery.create).Count() > 0)
                                {
                                    <div class="row">
                                        <div class="col-md-3"><h4><strong>Оплата:&nbsp;</strong></h4></div>
                                        <div class="col-md-9">
                                            <div class="mt-element-ribbon">
                                                <div onclick="javascript: payDelivery(@groupingItem.First().category_id,3);" style="width: 90px; text-align:center; cursor:pointer;" class="ribbon ribbon-vertical-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-warning uppercase">
                                                    3 дня
                                                </div>

                                                <div onclick="javascript: payDelivery(@groupingItem.First().category_id,7);" style="width: 90px; text-align:center; cursor:pointer; margin-left: 100px;" class="ribbon ribbon-vertical-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-warning uppercase">
                                                    7 дней
                                                </div>

                                                <div onclick="javascript: payDelivery(@groupingItem.First().category_id,15);" style="width: 90px; text-align:center; cursor:pointer; margin-left: 200px;" class="ribbon ribbon-vertical-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-warning uppercase">
                                                    15 дней
                                                </div>

                                                <div onclick="javascript: payDelivery(@groupingItem.First().category_id,30);" style="width: 90px; text-align:center; cursor:pointer; margin-left: 300px; text-align:center" class="ribbon ribbon-vertical-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-warning uppercase">
                                                    30 дней
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> Регион </th>
                                    <th> Параметры </th>
                                    <th> Статус </th>
                                    <th width="1%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in groupingItem.OrderBy(x => x.id))
                                {
                                    i = 0;
                                    <tr id="tr-delivery-@item.id">
                                        <td>@item.region_name</td>
                                        <td>
                                            <table>
                                                @foreach (infoModels.info_param_name param in item.param_names)
                                                {
                                                    i++;
                                                    str = "";
                                                    <tr>
                                                        <td style="border-right: solid; border-right-width: 1px; border-right-color: #e7ecf1">@param.name:&nbsp;</td>
                                                        @foreach (infoModels.info_param_value value in item.param_values[i])
                                                        {
                                                            if (str == "")
                                                            {
                                                                str = value.name;
                                                            }
                                                            else
                                                            {
                                                                str = str + ", " + value.name;
                                                            }
                                                        }
                                                        <td>&nbsp;&nbsp;@str</td>
                                                    </tr>
                                                }
                                            </table>

                                        </td>
                                        <td id="td-status-@item.id">
                                            @if (item.status == (int)constant.status_delivery.create)
                                            {
                                                <span class="label label-sm label-warning"> Создана </span>
                                            }
                                            else if (item.status == (int)constant.status_delivery.payment)
                                            {
                                                <span class="label label-sm label-success"> Активна </span>
                                            }
                                            else if (item.status == (int)constant.status_delivery.cancel)
                                            {
                                                <span class="label label-sm label-danger"> Отменена </span>
                                            }
                                            else if (item.status == (int)constant.status_delivery.complete)
                                            {
                                                <span class="label label-sm label-info"> Завершена </span>
                                            }
                                        </td>
                                        <td align="center" id="td-actions-@item.id">
                                            @if (item.status == (int)constant.status_delivery.create)
                                            {
                                                <a href="#@item.id" title="Удалить" class="delivery-delete"><i class="icon-trash"></i></a>
                                            }
                                            else if (item.status == (int)constant.status_delivery.payment)
                                            {
                                                <a href="#@item.id" title="Отменить" class="delivery-cancel"><i class="icon-ban"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                }  
            }
            else
            {
                <p>У вас еще нет ни одной рассылки.</p>
                <a href="@Url.Action("Delivery","Main")" class="btn blue">Создать рассылку</a>
            }
        </div>
    </div>
</div>

@section PageLevelScripts {
    <script>
        var status_payment = @((int)constant.status_delivery.payment);
        var status_cancel = @((int)constant.status_delivery.cancel);
        var status_success = @((int)constant.status.ok);
        var status_error = @((int)constant.status.error);

        $(document).ready(function () {
            //$(".delivery-payment").click(function () {
            //    var id = $(this).attr("href").substr(1);
            //    setStatusDelivery(id, status_payment);
            //});
            $(".delivery-cancel").click(function () {
                var id = $(this).attr("href").substr(1);
                setStatusDelivery(id, status_cancel);
            });
            $(".delivery-delete").click(function () {
                var id = $(this).attr("href").substr(1);
                deleteDelivery(id);
            });
        });

        function payDelivery(category_id, count_day){
            location.href="/payment/?category_id="+category_id+"&count_day="+count_day;
        }

        function init(id){
            $("#td-actions-"+id+" .delivery-cancel").click(function () {
                var id = $(this).attr("href").substr(1);
                setStatusDelivery(id, status_cancel);
            });
        }

        function setStatusDelivery(id, status){
            $.ajax({
                type: 'post',
                url: '/account/setstatusdelivery/',
                data: {
                    "id": id,
                    "status": status
                },
                success: function (data) {
                    if (data == status_success) {
                        if (status == status_payment){
                            toastr["success"]("Оплатили рассылку", "");
                            $("#td-actions-"+id).html('<a href="#'+id+'" title="Отменить" class="delivery-cancel"><i class="icon-ban"></i></a>');
                            $("#td-status-"+id).html('<span class="label label-sm label-success"> Активна </span>');
                            init(id);
                        }
                        else if (status == status_cancel){
                            toastr["error"]("Отменили рассылку", "");
                            $("#td-actions-"+id).empty();
                            $("#td-status-"+id).html('<span class="label label-sm label-danger"> Отменена </span>');
                        }
                    }
                    else {
                        toastr["error"]("Произошла ошибка", "");
                    }
                },
                error: function (data) {
                    toastr["error"]("Произошла ошибка", "");
                }
            });
        }

        function deleteDelivery(id){
            if (confirm("Вы уверены, что хотите удалить рассылку?")){
                $.ajax({
                    type: 'post',
                    url: '/account/deletedelivery/',
                    data: {
                        "id": id
                    },
                    success: function (data) {
                        if (data == status_success) {
                            toastr["error"]("Удалили рассылку", "");
                            $("#tr-delivery-"+id).remove();
                        }
                        else {
                            toastr["error"]("Произошла ошибка", "");
                        }
                    },
                    error: function (data) {
                        toastr["error"]("Произошла ошибка", "");
                    }
                });
            }
        }
    </script>
}